* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffaafb;
    font-family: 'Space Grotesk', sans-serif;
    color: #1212b2;
    line-height: 1.2;
}

header {
    background-color: #1212b2;
    padding: 32px 32px 0 32px;
    text-align: center;
    color: #ffaafb;
}

header .logo {
    font-size: 100px;
    line-height: 1;
    bottom: -3px;
    position: relative;
    margin-top: 10px;
}

main {
    text-align: center;

}

.container {
    max-width: 540px;
    margin: 0 auto;
    padding: 32px 12px;
}

.ingredients {
    display: grid;
    grid-template-columns: repeat(4,80px);
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.ingredient {
    width: 80px;
    height: 80px;
    font-size: 40px;
    background-color: #a1d2ff;
    text-align: center;
    line-height: 2;
    border: 2px solid #1212b2;
    border-radius: 20px;
    cursor: pointer;
}